
h1,
h3{
    text-align: center;
    background-color: deeppink;
    color: aquamarine;
    font-family: fantasy;
}

p,
ul,
ol {
    background-color: lightsalmon;
    color: darkslategray;
    font-family:'Courier New', Courier, monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}