
h1,
h3{
    text-align: center;
    background-color: deeppink;
    color: aquamarine;
    font-family: fantasy;
}

p,
ul,
ol {
    background-color: lightsalmon;
    color: darkslategray;
    font-family:'Courier New', Courier, monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul .home {
    list-style-type: none;

}

button {
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: auto;
    background-color: lightgreen;
    border-color: blueviolet;
    margin-bottom: 8px;
    
}

a:hover {
    background-color: yellow;
    font-size: 18px;
}